# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
venv/
ENV/
env/
.env

# ==========================
# JavaScript / Node.js
# ==========================
node_modules/
dist/
build/
*.tsbuildinfo

# ==========================
# Русские файлы
# ==========================
*.рус

# ==========================
# IDE и системные файлы
# ==========================
.idea/
.vscode/
*.log
*.swp
*.swo
*.tmp
*.bak
.DS_Store
